.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.modal-main {
  position:fixed;
  background: white;
  width: 30%;
  height: auto;
  top:36%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 20px;
  border-radius: 3px;
}

.modal-main > h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.close-modal {
  text-align: right;
  padding-top: 3px;
  padding-right: 3px;
  margin-bottom: 18px;
}

.close-modal:hover {
  opacity: 0.6;
  cursor: pointer;
}

.song-item {
  display: flex;
  justify-content: left;
  align-items: bottom;
}

.round-button__modal {
  height: 15px;
  width: 15px;
  background: #C2A061;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 9px;
}

.round-button__save {
  flex-shrink: 0;
  height: 30px;
  width: 30px;
  background: #C2A061;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 9px;
}

.round-button__modal > i {
  font-size: 0.4rem;
  opacity: 0.85;
  padding-left: 1px;
  padding-top: 2px;
}

.save-conatiner {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 18px 0 9px 0;
}

#save-input {
  flex-shrink: 1;
  width: 80%;
  border-radius: 3px;
  border: 1px #999 solid;
  padding: 9px;
}


