.wrap {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 50px auto;
  background: #111;
  border-radius: 10px;
}

#piano-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
